body{
    background-color: #FF8C00;
    width : 100%;
}

#titolo{
    position : absolute;
    text-align: center;
    font-size: 40pt;
    color : white;
    top: 25%;
    width: 100%;
    margin: auto;
}

#login{
    position: absolute;
    width: fit-content;
    right: 1%;
    top: 0%;
    text-align: center;
}

#ricerca{
    position:absolute;
    bottom: 20%;
    width: 100%;
    margin: auto; 
    text-align: center;
}

#dispensa{
    background-color: #90EE90;
    position: absolute;
    padding: 10px;
    height: 80%;
    left: 1%;
    top: 10%;
    text-align: left;
    border: 1px solid black;
}

#utente{
    position: absolute;
    width: fit-content;
    right: 1%;
    top: 0%;
    text-align: center;
}